body {
    background-color: #f8fafc;
}

/* WIDTH */
.w-10 {
	width: 10%;
}
.w-20 {
	width: 20%;
}
.w-30 {
	width: 30%;
}
.w-40 {
	width: 40%;
}
.w-60 {
	width: 60%;
}
.w-70 {
	width: 70%;
}
.w-80 {
	width: 80%;
}
.w-90 {
	width: 90%;
}

/* SIDEBAR */
.sidebar-borderless {
	border: 0;
}

/* TABLE */
.tr-bordered {
	border-bottom: 1px solid #ccc;
}
.tr-bordered > td {
	padding-bottom: 1.5em;
}
.tr-bordered + tr > td {
	padding-top: 1.5em;
}

/* FORM */
.form-inline {
	display: inline;
}
.form-inline-block {
	display: inline-block;
}